<br/>
<div class="container">
  <div class="row">
    <div class="dropdown col-md-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
        Search by
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item" (click) = "toggleDesc()">Description</li>
        <li class="dropdown-item" (click) = "togglePdfText()">Pdf content</li>
        <li class="dropdown-item" (click) = "toggleName()">Name</li>    
      </ul>
    </div>
    
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click) = "toggleDesc()" [hidden] = "!desc">
        Description <span class="badge bg-secondary">X</span>
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click) = "toggleName()" [hidden] = "!name">
        Name <span class="badge bg-secondary">X</span>
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click) = "togglePdfText()" [hidden] = "!pdfText">
        Pdf content <span class="badge bg-secondary">X</span>
      </button>
    </div>

  </div>


  <br/>

    <form #searchForm="ngForm">

        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <input type="text" class="form-control"
                required id="input" name="searchInput"
                [(ngModel)]="search.input" 
                #searchInput="ngModel" placeholder="Search">
            </div >
          </div>

          <div>
            <button type="button" class="btn btn-success btn-block" (click)="searchF()" [disabled] = "desc == false && name == false && pdfText == false">Search</button>
          </div>
        </div>
    </form>    
</div>
<app-create-community-popup *ngIf="store.loginStatus === true"></app-create-community-popup>
<br/>
<div *ngFor="let community of communities | async; index as i; first as isFirst">
    <app-community [community] = "community"></app-community>
</div>
