<div class="row">
    <div class="col-md-3 offset-md-1">
        <button type="submit" class="btn btn-success" (click)="openLg(content)">Create community</button>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Create community</h4>
      <button type="button" class="btn" (click)="modal.dismiss('Close click')">X</button>
    </div>
    <div class="modal-body">
      <div class="containter">
        <form #postForm="ngForm">
  
          <div class="row">
            <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" required
                              [(ngModel)]="community.name" name="name"
                              #name="ngModel">
                        <div [hidden]="name.valid || !name.touched"
                              class="alert alert-danger">
                              Name is required
                        </div>
                  </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" required
                              [(ngModel)]="community.description" name="description"
                              #description="ngModel">
                        <div [hidden]="description.valid || !description.touched"
                              class="alert alert-danger">
                              Description is required
                        </div>
                  </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-10 offset-md-1">
                  <button type="submit" class="btn btn-success btn-block" [disabled]="!postForm.form.valid" (click)="createCommunity() ; modal.dismiss('Close click');">Create</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </ng-template>
  
