<br/>
<div class="container">
    <div class="row">
        <div class="dropdown col-md-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
            Search by
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="dropdown-item" (click) = "toggleTitle()">Title</li>
            <li class="dropdown-item" (click) = "toggleText()">Text</li>
            <li class="dropdown-item" (click) = "togglePdf()">Pdf text</li>
          </ul>
        </div>

        <div class="col-md-0.5">
            <button type="button" class="btn btn-primary" (click) = "toggleTitle()" [hidden] = "!title">
              Title <span class="badge bg-secondary">X</span>
            </button>
          </div>
      
          <div class="col-md-1">
            <button type="button" class="btn btn-primary" (click) = "toggleText()" [hidden] = "!text">
              Text <span class="badge bg-secondary">X</span>
            </button>
          </div>

          <div class="col-md-1">
            <button type="button" class="btn btn-primary" (click) = "togglePdf()" [hidden] = "!pdf">
              Pdf <span class="badge bg-secondary">X</span>
            </button>
          </div>

    </div>

    <br/>

    <form #searchForm="ngForm">

        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <input type="text" class="form-control"
                required id="input" name="searchInput"
                [(ngModel)]="search.input" 
                #searchInput="ngModel" placeholder="Search">
            </div >
          </div>

          <div>
            <button type="button" class="btn btn-success btn-block" (click)="searchF()" [disabled] = "title == false && text == false && pdf == false">Search</button>
          </div>
        </div>
    </form>    

</div>

<br/>
<app-create-post-popup *ngIf="store.loginStatus === true"></app-create-post-popup>
<br/>

<div *ngFor="let post of posts | async; index as i; first as isFirst">
    <app-post [title] = "post.title" [id] = "post.id" [post]="post" [flair] = "post.flair"  [communityId] = "post.communityId"></app-post>
</div>